@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

.first-section {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    flex-wrap: wrap;
    padding: 0 220px;
}

.header {
    display: flex;
    align-items: center;
    margin-top: 18px;
}

.header .logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
    flex: 1 0 auto;
}

ul {
    display: flex;
    list-style-type: none;
    font-size: 18px;
    margin: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

a:hover {
    cursor: pointer;
}

.first-section .content {
    display: flex;
    margin: 120px 0;
    gap: 50px;
}

.first-section .left {
    flex: 1;
    height: 220px;
}

.first-section .content .left .title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.first-section .content .left .text {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    border: 1px solid #1f2937;
    border-radius: 10px;
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 17px;
    font-weight: 900;
    padding: 8px 32px;
}

button:hover {
    cursor: pointer;
}

.first-section .content .placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.363);
    color: #e5e7eb;
    font-size: 18px;
    flex: 1;
}

.second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-section .title {
    margin: 40px;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.second-section .container {
    display: flex;
    gap: 60px;
    text-align: center;
    padding: 0 300px 100px;
}

.second-section .container .item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.second-section .container .blank {
    border: 4px solid #3882f6;
    border-radius: 10px;
    padding: 80px;
}

.second-section .container .text {
    font-size: 18px;
    color: #343435;
    margin-top: 8px;
}

.third-section {
    display: flex;
    padding: 100px 300px;
    flex-wrap: wrap;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
}

.third-section .text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    text-align: lefet
}

.third-section .author {
    flex: 1;
    font-size: 24px;
    font-weight: 700;
    color: #1f2937;
    text-align: end;
    padding: 0 50px;
}

